.about_wrapper{
    max-width: 70ch;
    margin: 0 auto;
    padding: 10% 0;

    color: #000;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    
    p{
        margin: 1rem auto;
    }
}